body {
    font-size: 16px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.driverHeader {
    margin-bottom: 2rem;
    padding: 2rem;
}

.driverName {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}


/* Driver details */

.driverDetails {
    margin-bottom: 6rem;
    padding: 0 2rem;
}

.driverDetails .category {
    margin-bottom: 2rem;
}

.driverDetails .categoryHeader {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.driverDetails .row {
    padding: 0.4rem 0;
}

.driverDetails .label {
    width: 20rem;
    display: inline-block;
}


/* Driver path */

.shift {
    margin-bottom: 4rem;
    padding: 0 2rem;
}

.shift .row {
    display: flex;
}

.shift .shiftHeader {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.shift .shiftPathHeader {
    font-weight: bold;
}

.shift .cell {
    padding: 0.75rem 0;
}

.shift .cell.id {
    width: 5%;
}
.shift .cell.startTime, .shift .cell.endTime, .shift .cell.duration {
    width: calc(25% / 3);
}
.shift .cell.duty, .shift .cell.activity, .shift .cell.fromLocation, .shift .cell.toLocation {
    width: calc(70% / 4);
}

.shift .pathItem {
    width: 100%;
}

.shift .pathItem:not(.trip) {
    color: rgba(0, 0, 0, 0.4);
}
.shift .pathItem.overlapError {
    color: rgba(240, 0, 0, 1);
}